<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1">
    <meta name="keywords" content="UI, UX, front end developer, web developer, ux architect, wireframes, javascript">
    {% seo %}

    <link rel="stylesheet" media="all" href="/css/screen.css">
    <link rel="prefetch" href="/imgs/backgrounds/dog.jpg">
    <link rel="prefetch" href="/imgs/backgrounds/sky.jpg">
    <link rel="prefetch" href="/imgs/backgrounds/space.jpg">
    <link rel="prefetch" href="/posts.html">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,100italic' rel='stylesheet' type='text/css'>


    <!-- build:js /scripts/vendor/modernizr.js -->
        <script src="/../bower_components/modernizr/modernizr.js"></script>
    <!-- /build -->
</head>
<body>
    {{ content }}
    <script src="/scripts/common.js"></script>
    <!-- build:js /scripts/vendor/svg4everybody.js -->
        <script src="/../bower_components/svg4everybody/svg4everybody.js"></script>
    <!-- /build -->
    {% include google.html %}
</body>
</html>
