<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1">
    <meta name="keywords" content="UI, UX, front end developer, web developer, ux architect, wireframes, javascript">
    {% seo %}

    <link rel="stylesheet" media="all" href="/css/screen.css">
    <link rel="prefetch" href="/posts.html">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,100italic' rel='stylesheet' type='text/css'>

    <!-- TWITTER CARD META TAGS -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@willforsyth">
    <meta name="twitter:title" content="Will Forsyth | UX designer and front end developer">
    <meta name="twitter:description" content="I am a UI / UX designer and developer with an emphasis on UX. I love user research and finding the best solution for the user.">
    <meta name="twitter:image" content="http://willforsyth.co.uk/wireframes-new.png">


    <!-- build:js /scripts/vendor/modernizr.js -->
        <script src="/../bower_components/modernizr/modernizr.js"></script>
    <!-- /build -->
</head>
<body>
    {{ content }}
    <script src="/scripts/common.js"></script>
    <script src="/scripts/plugins.js"></script>


    <!-- build:js /scripts/vendor/svg4everybody.js -->
        <script src="/../bower_components/svg4everybody/svg4everybody.js"></script>
    <!-- /build -->
    <div class="fullPage"></div>
    {% include google.html %}
</body>
</html>
