<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Willforsyth UI/UX developer.">
    <meta name="viewport" content="initial-scale=1">
    <meta name="keywords" content="">
    {% seo %}
    <title>{% if page.title %}{{ page.title }}{% endif %}</title>
    <link rel="stylesheet" media="all" href="/css/screen.css">
    <link data-require="leaflet@0.7.3" data-semver="0.7.3" rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
</head>


<body class="post--page">
  <header class="hdr hdr--post">
    <div class="column column__center column__12-of-12 column__8-of-12--small column__9-of-12--medium hdr--cont">
      <nav class="hdr--nav">
        <ul>
          <li>
            <a href="/" href="" title="">Home</a>
          </li>
          <li>
            <a href="/posts.html" href="" title="">Blog</a>
          </li>
          <li>
            <a href="mailto:info@willforsyth.co.uk" href="" title="">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="hdr--title">
        <h1 class="">{{ page.title }}</h1>
      </div>
    </div>
  </header>
    <div class="sidebar grid column column__12-of-12 column__4-of-12--small column__3-of-12--medium">
      <a class="back" href="/posts.html" title="back">Back</a>
    </div>
    <main class="column column__12-of-12 column__8-of-12--small column__9-of-12--medium column__6-of-12--large">
      <article class="post__main" role="main">
          <section class="post__content">
              {{ content }}
              {% include comments.html %}
          </section>
          <footer>
            {% if page.previous.url %}
              <a class="post-prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
            {% endif %}
            {% if page.next.url %}
              <a class="post-next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
            {% endif %}
          </footer>
        </article>
        {% include footer.html %}
    </main>


    <script data-require="leaflet@0.7.3" data-semver="0.7.3" src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <script src="/scripts/fuse-search.js"></script>
    <script src="/scripts/fuse-search-two.js"></script>
    <script src="/scripts/common.js"></script>

    {% include google.html %}
</body>
</html>
