<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1">
    <link rel="prefetch" href="/imgs/backgrounds/sky.jpg">
    {% seo %}
    <title>{% if page.title %}{{ page.title }}{% endif %}</title>
    <link rel="stylesheet" media="all" href="/css/screen.css">
    <link data-require="leaflet@0.7.3" data-semver="0.7.3" rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@willforsyth">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="http://willforsyth.co.uk/imgs/eye.png">
</head>


<body class="post--page">
  <header class="hdr hdr--post">
    {% include nav.html %}
  </header>
    <aside class="sidebar grid column column__12-of-12 column__4-of-12--small column__3-of-12--medium">
      <a class="back" href="/posts.html" title="back">Back</a>
    </aside>
    <section class="column column__12-of-12 column__8-of-12--small column__9-of-12--medium column__6-of-12--large">
      <article class="post__main" role="main">
        <h1 class="">{{ page.title }}</h1>
          <section class="post__content">
              {{ content }}
              {% include comments.html %}
          </section>
          <footer>
            {% if page.previous.url %}
              <a class="post-prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
            {% endif %}
            {% if page.next.url %}
              <a class="post-next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
            {% endif %}
          </footer>
        </article>
    </section>
    {% include footer.html %}


    <script data-require="leaflet@0.7.3" data-semver="0.7.3" src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <script src="/scripts/fuse-search.js"></script>
    <script src="/scripts/fuse-search-two.js"></script>
    <script src="/scripts/common.js"></script>
    <script src="/scripts/plugins.js"></script>

    {% include google.html %}
</body>
</html>
