<section>
  <div class="column column__center column__12-of-12--small column__8-of-12--medium intro-second">
    <h2>FE Code and prototyping</h2>
    <div class="grid column column__12-of-12 column__8-of-12--small column__8-of-12--medium">
      <p>I have have always worked on both design and front end coding</p>
    </div>
    <div class="column column__12-of-12 column__8-of-12--small column__4-of-12--medium">
      <ul>
        <li><a href="/about.html" title="More about me" title="">Front end processes</a></li>
      </ul>
    </div>
  </div>
</section>
