<nav role="navigation">
  <div class="column logo">
      <a href="/" data-type="page-transition" title="Go to home page" tabindex="2"></a>
  </div>
  <a href="#content" class="offscreen" tabindex="1">Skip to Content</a>
  <ul class="nav">
    <li>
      <a href="/posts.html" title="A selection of blog posts, javascript, UX and design" {% if page.url == '/posts.html' %}class='active'{% endif %} tabindex="2" data-type="page-transition">
        <svg viewBox="0 0 100 100" class="icon icon--inline icon--center icon__pen">
            <use xlink:href="/imgs/sprite/icon-sprite.svg#icon__pen"></use>
            <span tabindex="4">Blog</span>
        </svg>
      </a>
    </li>
    <li>
      <a href="/ux-process.html" title="View my UX process" {% if page.url == '/ux-process.html' %}class='active'{% endif %} tabindex="3" data-type="page-transition">
        <svg viewBox="0 0 100 100" class="icon icon--inline icon--center icon__ux">
            <use xlink:href="/imgs/sprite/icon-sprite.svg#icon__ux"></use>
            <span tabindex="4">UX process</span>
        </svg>
      </a>
    </li>
    <li>
      <a href="/about.html" title="A weee bit about me" {% if page.url == '/about.html' %}class='active'{% endif %} tabindex="5" data-type="page-transition">
        <svg viewBox="0 0 100 100" class="icon icon--inline icon--center icon__about">
            <use xlink:href="/imgs/sprite/icon-sprite.svg#icon__about"></use>
            <span tabindex="4">About</span>
        </svg>
      </a>
    </li>
    <!-- <li>
      <a href="/case-study.html" title="View a design and UX case study" {% if page.url == '/case-study.html' %}class='active'{% endif %} tabindex="4" data-type="page-transition">Case study</a>
    </li>
-->
    <!-- <li>
      <a href="mailto:info@willforsyth.co.uk" title="" tabindex="6">Contact</a>
    </li> -->
  </ul>
</nav>
