<div class="animate-in column column__center column__12-of-12 column__12-of-12--small column__6-of-12--medium column__4-of-12--large" id="mc_embed_signup">
	<form class="form__mailchimp" action="//epochcommunity.us11.list-manage.com/subscribe/post?u=71a127691264539d525d12e0c&amp;id=1d9432df4a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<div class="mc-field-group column column__12-of-12 column__8-of-12--small">
			<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
			<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Be in the know...">
		</div>
		<div id="mce-responses" class="clear">
			<div class="response" id="mce-error-response" style="display:none"></div>
			<div class="response" id="mce-success-response" style="display:none"></div>
		</div>    
		<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	    <div style="position: absolute; left: -5000px;"><input type="text" name="b_71a127691264539d525d12e0c_1d9432df4a" tabindex="-1" value=""></div>
	    <div class="column column__12-of-12 column__4-of-12--small">
	    	<input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="button">
	    </div>
	</form>
</div>

<!--End mc_embed_signup-->