
## Follow the journey

### How not to launch a product
[How the journey started](/ux/2017/03/17/how-not-to-launch-a-product.html)

### Step 1: How to launch a product - Empathise
[Empathise](/ux/2017/03/20/step1-how-to-launch-a-product.html)

### Step 2: How to launch a product - Define
[Define](/ux/2017/06/03/step2-how-to-launch-a-product-define.html)

### Step 3: How to launch a product - Iterate
<!-- [Iterate](/ux/2017/06/04/step3-how-to-launch-a-product-iterate.html) -->

### Step 4: Build a MVP / prototype and iterate
Build out the MVP statically or use wordpress for the SEO benefits, and manage it myself.

### Step 5: Test on the MVP / prototype
Promote on facebook, instragram and twitter. Gather shed loads of user data. Google analytics, surveys, hotjar, usability testing etc. Get it into the hands of users.

### Step 6: Analysis the data
Analysis data and create usability maps of real data.

### Step 7: Iterate and improve
Revisit UX design and adjust.
