
## Follow the journey

### How not to launch a product
[How the journey started](/ux/2017/03/17/how-not-to-launch-a-product.html)

### Step 1: UX research and analysis
Step one will be refining the MVP down, creating some user flows and making everything based on assumptions. Do as much research as I can to get a MVP into peoples hands.
[Step 1](/ux/2017/03/20/step1-how-to-launch-a-product.html)

### Step 2: UX design
UX design user flows and wireframes.
[link coming soon]()

### Step 3: UI design
Build out the MVP statically and manage it myself.
[link coming soon]()

### Step 4: Build an MVP
Build out the MVP statically and manage it myself.
[link coming soon]()

### Step 5: User research on the MVP
Gather sheds loads of user data. Google analytics, surveys, hotjar, usability testing etc.
[link coming soon]()

### Step 6: Analysis the data
Analysis data and create usability maps of real data.
[link coming soon]()

### Step 7: Revisit the UX and business goals
Revisit UX design and adjust.
[link coming soon]()
