---
layout: base
title: Will forsyth
class: home
---
{% assign posts = site.posts | sort: 'group' %}


<header class="hdr hdr--posts">
    {% include nav.html %}
</header>
<div class="case-study-background">

</div>

<main class="posts__main">
  <div class="column column__center column__12-of-12 column__7-of-12--medium info--block--content">
        <h3>Money Guru | Case study</h3>
        <p>Money guru is a comparison site that went from 0 - 1 million users in its first 6months and became the fasted growing comparison website in the UK in 2017. This is how we applied a user centric approach to research, design and iterateing the product ensuring we continually monitor and improve the experience.</p>
        <p>Thankfully the talented team I work with created the brand, the mood and tone the copy, marketing campaigns and advertising to support the product. All we had to do was create the product ;-). </p>
        <p>We started working to get a MVP produced as early as possible.</p>
  </div>

  <section class="step">
    <header class="step--header">
      <!-- <ul>
        <li class="active--blue"></li>
        <li></li>
        <li></li>
      </ul> -->
      <h3>0.1 | UX Research</h3>
    </header>
    <div class="content--divide-flex">
      <div class="column column__12-of-12 column__6-of-12--medium case-study--first">
      </div>
      <div class="column column__12-of-12 column__6-of-12--medium case-study--text active--blue-bk">
          <p>The research phase of a new product is always the most difficult, it takes more time to understand the user and is difficult to get usability testing completed on a product. So we decided early to get a MVP out as quickly as possible and then develop the product based on concrete research.</p>
          <h4>What we used</h4>
          <ul>
            <li><b>Competitor research</b> confused.com, gocompare.com etc </li>
            <li><b>Analytics research</b> they had an old site that we were going to use some data from and the audience would be similar so we could gather some data to analyse. </li>
            <li><b>Surveys and questinnaires</b> we added hotjar to the site to gather as much data we could on the users behaviours.</li>
            <li><b>User stories</b> we conducted over 100 user stories to delve into what the users needs were.</li>
            <li><b>User personas</b> we then selected some key user personas to study more and find out what issues and goals they have.</li>
          </ul>
        </div>
    </section>

    <section class="step">
      <header class="step--header">
        <!-- <ul>
          <li class="active--blue"></li>
          <li></li>
          <li></li>
        </ul> -->
        <h3>0.2 | UX analysis</h3>
      </header>
      <div class="content--divide-flex">
        <div class="column column__12-of-12 column__6-of-12--medium case-study--text active--blue-bk">
            <p>We had started to gather some useful research, so the next stage was to analyse the data and start to think off solutions for the users we have defined.</p>
            <h4>What we used</h4>
            <ul>
              <li><b>User story maps</b> helped us to view the whole project and detail how each persona would acheive their goals. </li>
              <li><b>Card sorting</b> helped us to prioritise these features.</li>
              <li><b>Affinity diagrams</b> ...</li>
            </ul>
          </div>
          <div class="column column__12-of-12 column__6-of-12--medium case-study--second">
          </div>
      </section>

      <section class="step">
        <header class="step--header">
          <!-- <ul>
            <li class="active--blue"></li>
            <li></li>
            <li></li>
          </ul> -->
          <h3>0.3 | UX design</h3>
        </header>
        <div class="content--divide-flex">
          <div class="column column__12-of-12 column__6-of-12--medium case-study--third">
          </div>
          <div class="column column__12-of-12 column__6-of-12--medium case-study--text active--blue-bk">
            <p>When we had prioritised the features it was time to revist the personas and work out user flows for each persona     I looked at the site map and information architecture, planning out all aspects of the layout including interactions and user flows. Each wireframe is a detailed lists of all aspects of how the user interacts and users the site. Including users flows and different states.</p>
              <h4>What we used</h4>
              <ul>
                <li><b>User flows</b> helped us detail each interaction for each personas journey to its completion and discover how they acheived their goals.</li>
                <li><b>Interaction design</b> helped us detail each interaction for each personas journey to its completion and discover how they acheived their goals.</li>
                <li><b>Wireframes</b> helped us detail each interaction for each personas journey to its completion and discover how they acheived their goals.</li>
              </ul>
            </div>
        </section>

        <section class="step">
          <header class="step--header">
            <!-- <ul>
              <li class="active--blue"></li>
              <li></li>
              <li></li>
            </ul> -->
            <h3>0.4 | Prototype</h3>
          </header>
          <div class="content--divide-flex">
            <div class="column column__12-of-12 column__6-of-12--medium case-study--forth">
            </div>
            <div class="column column__12-of-12 column__6-of-12--medium case-study--text active--blue-bk">
                <p>Once I had a solid structure I created a prototype which we could then test.</p>
                <h4>What we used</h4>
                <ul>
                  <li><b>Sketch</b> helped us detail each interaction for each personas journey to its completion and discover how they acheived their goals.</li>
                  <li><b>Marvel app</b> helped us detail each interaction for each personas journey to its completion and discover how they acheived their goals.</li>
                </ul>
              </div>
          </section>

        <section class="step">
          <header class="step--header">
            <!-- <ul>
              <li class="active--blue"></li>
              <li></li>
              <li></li>
            </ul> -->
            <h3>0.5 | UI design</h3>
          </header>
          <div class="content--divide-flex">
            <div class="column column__12-of-12 column__6-of-12--medium case-study--fifth">
            </div>
            <div class="column column__12-of-12 column__6-of-12--medium case-study--text active--blue-bk">
                <p>Using the style guide and branding guidelines high fidelity designs were created.</p>
              </div>
          </section>

          <section class="step">
            <header class="step--header">
              <!-- <ul>
                <li class="active--blue"></li>
                <li></li>
                <li></li>
              </ul> -->
              <h3>User testing</h3>
            </header>
            <div class="content--divide-flex">
              <div class="column column__12-of-12 column__6-of-12--medium case-study--six">
              </div>
              <div class="column column__12-of-12 column__6-of-12--medium case-study--text active--blue-bk">
                <p>User testing was always going to be a large part of this project and in my opinion the most important part. It is esential to make sure the assumptions made throughout the project are correct. So a extensive user testing session was completed to carry brand feedback and to user test the inital layouts.</p>
                <h4>What we found out</h4>
                <ul>
                  <li><b>Smart search</b> the smart search was not offering enough benefits and was hard to understand.</li>
                  <li><b>Navigation</b> the navigation need some tweaking to offer direct access from all over the site.</li>
                </ul>
                </div>
            </section>

          <div class="column column__center column__12-of-12 column__7-of-12--medium info--block--content">
                <h3>Our involvement in phase 1 was over.</h3>
                <p>The site now went into to development to get a MVP up as early as possible. We needed to carry out some more user testing and we had parked a lot of key features.</p>
                <p>We started to look forward to phase 2. In the background the marketing and socail media team were working hard.</p>
          </div>
</div>
</main>
<main class="posts__main">
    <div class="column column__center column__12-of-12 column__7-of-12--medium info--block--content">
          <h3>Money Guru | Phase 2</h3>
          <h4>Release 1</h4>
          <p>I am going to bypass phase 2 release 1 as this was mainly working through user testing results and some business specific features.</p>
          <h4>Release 2</h4>
          <p>A user benefit was spotted through analytics that also had business benefits. This surounded the car loan section of the site. There was a lot of visits to this section of the comparison table however not much compltion.</p>
          <p>It was decided to focus on a new seciton to appeal to these users.</p>
    </div>

    <section class="step">
      <header class="step--header">
        <!-- <ul>
          <li class="active--blue"></li>
          <li></li>
          <li></li>
        </ul> -->
        <h3>1.1 | UX Research</h3>
      </header>
      <div class="content--divide-flex">
        <div class="column column__12-of-12 column__6-of-12--medium case-study--first">
        </div>
        <div class="column column__12-of-12 column__6-of-12--medium case-study--text active--blue-bk">
            <p>The research phase follows the same process as the easrlier phase but we now have moreinformation to work with since we can analysis the new site.</p>
            <h4>What we used</h4>
            <ul>
              <li><b>Competitor research</b> confused.com, gocompare.com etc </li>
              <li><b>Analytics research</b> they had an old site that we were going to use some data from and the audience would be similar so we could gather some data to analyse. </li>
              <li><b>Surveys and questinnaires</b> we added hotjar to the site to gather as much data we could on the users behaviours.</li>
              <li><b>User stories</b> we conducted over 70 user stories to delve into what the users needs were.</li>
              <li><b>User personas</b> we had some real personas now to work with</li>
            </ul>
          </div>
      </section>

      <section class="step">
        <header class="step--header">
          <!-- <ul>
            <li class="active--blue"></li>
            <li></li>
            <li></li>
          </ul> -->
          <h3>1.2 | UX analysis</h3>
        </header>
        <div class="content--divide-flex">
          <div class="column column__12-of-12 column__6-of-12--medium case-study--text active--blue-bk">
              <p>We analysied the data and could start to decide on what value we could add to the users</p>
              <h4>What we used</h4>
              <ul>
                <li><b>User story maps</b> helped us to view the whole project and detail how each persona would acheive their goals. </li>
                <li><b>Card sorting</b> helped us to prioritise these features.</li>
                <li><b>Affinity diagrams</b></li>
              </ul>
              <h4>Findings</h4>
              <ul>
                <li><b>Car finance</b> we would call it car finance and it would be its on dedicated section.</li>
                <li><b>Features</b> we decided on some key features we could add that would help convert users and add value. eg: car finance calculator, car value search</li>
                <li><b>Comparison page</b> it would have its own dedicated comparions components and features.</li>
              </ul>
            </div>
            <div class="column column__12-of-12 column__6-of-12--medium case-study--seventh">
            </div>
        </section>
  </div>

  <a class="back" href="/" title="back">Back</a>
</main>
{% include footer.html %}
