---
layout: base
title: About me
class: home
description: |
 Quick overview where I have been and what I am doing.
---
{% assign posts = site.posts | sort: 'group' %}


<header class="hdr hdr--posts">
      {% include nav.html %}
</header>

<main class="column column__center column__12-of-12 column__8-of-12--small column__7-of-12--medium posts__main">
  <div class="info--boxes">
    <div class="info--block--content posts">
        <p>Hi &amp; welcome, thanks for checking out my small space on the internet. Guess this is where I tell you a little about myself and stuff, I have a dog and live in the North of England, born in Scotland in a wee place called <a href="https://www.google.com/maps/place/Kirkcaldy,+UK/@56.1799848,-3.2405532,11z/data=!4m5!3m4!1s0x488635542fda10bd:0xd0017abd4be5692d!8m2!3d56.1168249!4d-3.158137" title=""> Kirkcaldy</a>. I love trainers and I am working on a side project that will blow your socks off.</p>
        <blockquote>As a "designer who codes" I can iterate and test prototypes quickly</blockquote>
        <p>I am Head of UX design at Drummond Central, and I am a UI /UX developer &amp; designer. I have worked in various digital roles since graduating in multi-media design. Each role I have put users at the forefront of all my processes. In UX design it's ensuring it's a user centric design and tested as early and often as possible ideally in an agile way, see <a href="/ux-process.html" title="">my UX process</a> for more details. In my Front end code it's ensuring code is fully accessible and user-friendly and screen reader ready, see <a href="/front-end-process.html" title="">my Front end process</a>. As a "designer who codes" I can iterate and test prototypes quickly. I use programmes like principle, framer.js and marvel or I can code prototypes or fully standard compliant, production ready code in HTML, CSS and javascript.</p>
        <blockquote>I have worked on projects for clients such as: Bet265, Stoke City FC, Money Guru, Nexus, Johnstone &amp; Johnstone, DPD. </blockquote>
        <p>See my <a href="https://www.linkedin.com/in/will-forsyth-b4691621/" title="">linkedin</a> in profile for more work experience details.</p>
        <p>View <a href="https://www.behance.net/willf" title="">Behance</a> for a few UI design examples I am working on.</p>
    </div>
  </div>
</main>
{% include footer.html %}
