---
layout: base
title: Will forsyth
class: home
---
{% assign posts = site.posts | sort: 'group' %}


<header class="hdr hdr--posts">
  <div id="particles-green"></div>
  <div class="column column__center column__12-of-12 column__8-of-12--small column__9-of-12--medium hdr--cont">
    {% include nav.html %}
    <h1 class="">Case study | MoneyGuru</h1>
  </div>
</header>

<main class="column column__center column__12-of-12 column__8-of-12--small column__9-of-12--medium column__7-of-12--large posts__main">

  <section class="content--divide">
      <p>I recently worked on the full scoping information architecture and UX for MoneyGuru the latest comparison website.</p>
      <h3>Scoping, planning</h3>
      <p>We started out creating an extensive research document outlining all competitors and full user research and data analysis.</p>
      <img class="content--divide__img" src="/imgs/research.png" title="">
  </section>
  <section class="content--divide">
      <h3>Wireframing and planning</h3>
      <p>Explination of the detailed wireframes</p>
      <img class="content--divide__img" src="/imgs/wireframe1.png" title="">
      <img class="content--divide__img" src="/imgs/wireframe2.png" title="">
      <img class="content--divide__img" src="/imgs/sitemap_v2.png" title="">
    </section>
    <section class="content--divide">
      <h3>Prototyping</h3>
      <p>Pics and explination of the marvel app </p>
      <img class="content--divide__img" src="/imgs/full-site.gif" title="">
      <img class="content--divide__img" src="/imgs/prototype.gif" title="">
    </section>
    <section class="content--divide">
      <h3>User testing</h3>
      <p>Website user testing was then carried out in their own enviroments to refine the wireframes and aid the design.</p>
      <img class="content--divide__img" src="/imgs/wireframe1.png" title="">
    </section>
    <section class="content--divide">
      <h3>Design based on user testing and wireframes</h3>
      <p>Picture of the design</p>
      <img src="/imgs/page-designs.png" title="">
    </section>
    <section class="content--divide">
      <h3>Specification document</h3>
      <p>Using all our detailed research and planning we delivered a full specification document to guide the developers.</p>
      <img class="content--divide__img" src="/imgs/specification.png" title="">
  </section>
</main>
{% include footer.html %}
