---
layout: base
title: Will forsyth
class: home
---
{% assign posts = site.posts | sort: 'group' %}


<header class="hdr hdr--posts">
    {% include nav.html %}
</header>
<div class="case-study-background">

</div>

<main class="column column__center column__12-of-12 posts__main">
  <div class="column column__center column__12-of-12 column__7-of-12--medium info--block--content">

  <section class="content--divide">
      <h3>Money Guru | Case study</h3>
      <p>Money guru is a comparison site that went from 0 - 1 million users in its first 6months and became the fasted growing comparison website in the UK in 2017. This is how we applied a user centric approach to research, design and iterateing the product ensuring we continually monitor and improve the experience.</p>
      <p>Thankfully the talented team I work with created the brand, the mood and tone the copy, marketing campaigns and advertising to support the product. All we had to do was create the product ;-)</p>
  </section>
  <h2>Phase 1: Get a MVP up as quickly as possible.</h2>
  <section class="content--divide">
      <h3>UX Research</h3>
      <p>We started out with a brief to create a new market leading website. I started out creating an extensive research document outlining all competitors and full user research and data analysis. Which laid the foundations to look at content structure and also everything in between.</p>
      <img src="/imgs/research.png" title="">
  </section>

  <section class="content--divide">
      <p></p>
      <h3>UX analysis</h3>
      <p>I started out creating an extensive research document outlining all competitors and full user research and data analysis. Which laid the foundations to look at content structure and also everything in between.</p>
      <!-- <img src="/imgs/research.png" title=""> -->
  </section>
  <section class="content--divide">
    <h3>UX design</h3>
    <p>Once I had our research document I looked at the site map and information architecture, planning out all aspects of the layout including interactions and user flows. Each wireframe is a detailed lists of all aspects of how the user interacts and users the site. Including users flows and different states.</p>
    <div class="grid">
        <img src="/imgs/wireframes-new.png" title="">
      </div>
    </div>
  </section>
    <section class="content--divide">
      <h3>Prototyping</h3>
      <p>Once I had a solid structure I created a prototype which we could then test and get final sign of before design.</p>
      <div class="grid">
        <div class="column column__12-of-12 column__12-of-12--small column__12-of-12--medium column__6-of-12--large">
          <img src="/imgs/full-site.jpg" title="">
        </div>
        <div class="column column__12-of-12 column__12-of-12--small column__12-of-12--medium column__6-of-12--large">
          <img src="/imgs/prototype2.gif" title="">
        </div>
      </div>
    </section>
    <section class="content--divide">
        <h3>Specification document</h3>
        <p>Using all our detailed research and planning we delivered a full specification document to guide the developers.</p>
        <img src="/imgs/specification.png" title="">
    </section>
    <section class="content--divide">
      <h3>User testing</h3>
      <p>User testing was always going to be a large part of this project and in my opinion the most important part. It is esential to make sure the assumptions made throughout the project are correct.</p>
      <img src="/imgs/user-testing.png" title="">
    </section>
    <section class="content--divide">
      <h3>Alterations to the designs</h3>
      <p>After the users testing we improved the designs to improve the user experience and ensure it was as expected.</p>
      <img src="/imgs/page-designs.png" title="PAge designs showing the money guru branding.">
      <h3>Key improvements</h3>
      <h4>Money search</h4>
      <p>The smart search tool was something that was being missed and the users didnt know its benefits so a new section was designed and added to the home page and subpages.</p>
      <img src="/imgs/moneymatcher.jpg" title="New moneymatcher branding and call to actions">
      <h4>Navigation</h4>
      <p>I dont normally like to use dropdown menus, but I wanted to ensure the user could get to the tools as quickly as possible so intorduced a new navigation.</p>
      <img src="/imgs/navigation.jpg" title="New drop down navigation">
    </section>
    <a class="back" href="/" title="back">Back</a>
  </div>
</main>
{% include footer.html %}
