---
layout: base
title: Will forsyth
image: /imgs/twitter-cards/big-idea.png
class: home
---
{% assign posts = site.posts | sort: 'group' %}


<header class="hdr hdr--posts">
    {% include nav.html %}
</header>
<div class="case-study-background-wcfmc"></div>

<main class="posts__main">
  <div class="grey--bk">
  <div class="column column__center column__12-of-12 column__7-of-12--medium info--block--content">
    <h3>Our assumptions are as follows:</h3>
    <p>
      <ul>
        <li>1) User needs work done.</li>
        <li>2) User finds the garage profile page.</li>
        <li>3) User doesn't want to, or doesn't know they can post a job but do like the look of the garage. There are no contact details available - so they exit, google the garage details and book direct.”</li>
      </ul>
</p>
  </div>
</div>
  <div class="column column__center column__12-of-12 column__8-of-12--medium info--block--content post__content">
          <section class="step">
            <header>

            </header>
              <blockquote>
                <h3>Assumed problem statement</h3>
                “As a driver I would like to book an appointment with the garage easily and quickly."</blockquote>
          </section>

          <section class="step">
            <header>
              <h3>User goals</h3>
            </header>
              <ul>
                <li>As a driver I want to book my car in for some work to be carried out.</li>
                <li>As a driver I have an unknown issue with my car I want to get it fixed as conveniently as possible.</li>
                <li>As a driver I want to book an appointment for a garage near my home.</li>
                <li>As a driver I want to find the details of a garage.</li>
              </ul>
            </section>

            <section class="step">
              <header>
                <h3>Sketches</h3>
                <p>I started of sketching out some user flows and rough ideas. Brainstorming possible solutions. I also spent some time researching into different processes and how other companies had approached this feature.</p>
                <blockquote>"At this point its about idea generation over quality. Refining brainstorming and creating several possible routes to test. Creating lots of throw away sketched prototypes."</blockquote>
              </header>
                <img src="/imgs/wcfmc/sketch.jpg" title="">
              </section>

          <section class="step">
            <header>
              <h3>Interaction flow</h3>
              <p>I picked a route and started to plan out in more detail how the user will input data and complete the booking.</p>
              <blockquote>"I tried to stick to the core user journeys."</blockquote>
              <a href="/imgs/wcfmc/interactions.pdf" title="" download>Download high res interaction flow</a>
            </header>
          </section>
        </div>
        <img src="/imgs/flow.png" title="">

        <div class="column column__center column__12-of-12 column__8-of-12--medium info--block--content post__content">
          <section class="step">
            <header>
              <h3>Wire-frames</h3>
              <p>Next, I looked into wire-framing to show the screen states in more detail including how the interactions would work. Ideally, I would go into more detail with the labelling and documentation. The click through prototype only takes in one flow ideally I would expand this to make a full prototype to test.</p>
              <ul>Key features of new structure
                <li>Tap bar to access elements of form.</li>
                <li>Estimate cost for selected services.</li>
              </ul>
              <blockquote>"If the garage has no way to show available times then the user could select any time and the garage would confirm the appointment."</blockquote>
              <a href="/imgs/wcfmc/Wireframes.pdf" title="" download>Download high res wire-frames</a>
            </header>
          </section>
        </div>
        <img src="/imgs/wireframes.png" title="">
        <iframe width="438" height="930" src="//invis.io/ZCCX2S4BU" frameborder="0" allowfullscreen></iframe>

  <div class="column column__center column__12-of-12 column__8-of-12--medium info--block--content post__content">
        <section class="step">
          <header>
            <h3>Design</h3>
            <p>I then added some design styles to the wire-frames and started to build up the steps in a little more detail. I have changed some of the colours slightly to modernise the colour palette. Providing a gif helps to demonstrate how the interactions could work.</p>
            <ul>Key features of new design
              <li>Refresh of colour and styles used.</li>
              <li>Introduction of illustrations.</li>
            </ul>
            <blockquote>“If you were looking for a brand refresh in the future you may want to have bespoke illustrations created depending on the direction of new brand styles.”</blockquote>
            <img src="/imgs/wcfmc/design3.png" title="Screen showing three designs">
            <img src="/imgs/wcfmc/All-designs.png" title="Home page design">
            <img class="center-item" src="/imgs/animation2.gif" title="animation">
          </header>
              <h3>Next steps</h3>
              <ul>
                <li>More UX research to define the user goals and a problem statements to decide on the best solution for the high bounce rate.</li>
                <li>Create lots of throw away prototypes to refine the flow.</li>
                <li>Validation and error handling.</li>
                <li>Test <b>This week</b> and <b>Next week</b> do we need to add in more options?</li>
                <li><b>A/B test</b> the order of the start of the form."</li>
                <li>Usability tests</li>
              </ul>
          </section>

  </div>
</main>




{% include footer.html %}
