---
layout: base
title: Will forsyth
class: home
---
{% assign posts = site.posts | sort: 'group' %}


<header class="hdr hdr--posts">
    {% include nav.html %}
</header>
<div class="case-study-background"></div>

<main class="posts__main">
  <div class="grey--bk">
  <div class="column column__center column__12-of-12 column__7-of-12--medium info--block--content">
    <h3>Money Guru | Client overview</h3>
    <p>Money guru is a comparison site that went from 0 - 1 million users in its first 6 months and became the fasted growing comparison website in the UK in 2017. I lead the user centric approach to research, design and iterating the product ensuring we continually monitor and improve the experience.</p>
    <p>I am going to give a briff overview of the initial release and then focus on a later release to show a detailed process.</p>
  </div>
</div>
  <div class="column column__center column__12-of-12 column__7-of-12--medium info--block--content">


        <section class="step">
          <header>
            <h3>0.1 | UX Research</h3>
          </header>
          <img src="/imgs/research-phase1.png" title="">
            <ul>
              <li><b>Competitor research</b> confused.com, gocompare.com etc </li>
              <li><b>Analytics research</b> we had a client site called ukloans to base gather our analytic data from. Not the best but this was enough to start until we had a MVP.</li>
              <li><b>Surveys and questionnaires</b> we added hotjar to the site to gather as much data we could on the users behaviours. This monitored all ttypes of user interaction and allowed us to add surveys etc to the site.</li>
              <li><b>User stories</b> we wrote over 100 user stories to delve into what the users needs were.</li>
              <li><b>User personas</b> we then selected some key user personas to study more and find out what issues and goals they have.</li>
            </ul>
          </section>

          <section class="step">
            <header>
              <h3>0.2 | UX analysis</h3>
            </header>
            <ul>
              <li><b>User story maps</b> helped us to view the whole project and detail how each persona would achieve their goals. </li>
              <li><b>Card sorting</b> helped us to prioritise these features.</li>
              <li><b>Affinity diagrams</b> we used affinity digrams to group content and define sections.</li>
            </ul>
          </section>

          <section class="step">
            <header>
              <h3>0.3 | UX design</h3>
              <img src="/imgs/wireframes.jpg" title="">
            </header>
              <ul>
                <li><b>User flows</b> helped us detail each interaction for each personas journey to its completion and discover how they achieved their goals.</li>
                <li><b>Interaction design</b> helped us detail each interaction for each personas journey to its completion and discover how they achieved their goals.</li>
                <li><b>Wireframes</b> helped us detail each interaction for each personas journey to its completion and discover how they achieved their goals.</li>
              </ul>
            </section>

            <section class="step">
              <header>
                <h3>0.4 | Prototype</h3>
              </header>
              <img src="/imgs/prototype2.gif" title="">
                <ul>
                  <li><b>Sketch</b> helped us detail each interaction for each personas journey to its completion and discover how they achieved their goals.</li>
                  <li><b>Marvel app</b> helped us detail each interaction for each personas journey to its completion and discover how they achieved their goals.</li>
                  <li><b>Principle</b> we also created interactive animated prototypes to demonstrate how the animations and flows would work.</li>
                </ul>
              </section>

              <section class="step">
                <header>
                  <h3>0.5 | UI design</h3>
                  <img src="/imgs/home-page.jpg" title="">
                </header>
                  <p>Using the style guide and branding guidelines high fidelity designs were created.</p>
                </section>

            <section class="step">
              <header>
                <h3>0.6 | Usability testing</h3>
              </header>
                  <ul>
                    <li><b>Lab usability test</b> We found a few issues and some easy wins. The smart search was not offering enough benefits and was hard to understand. The navigation could be more direct.</li>
                  </ul>
              </section>
  </div>
</main>

<main class="posts__main">
  <div class="grey--bk">
    <div class="column column__center column__12-of-12 column__7-of-12--medium info--block--content">
      <h3>Money Guru | Phase 2 release 2</h3>
      <p>A user benefit was spotted within one of the usability tests. This surround the car loan section of the site. There was a lot of visits to this section of the comparison table however not much completion.</p>
      <p>It was decided to focus on a new section to appeal to these users.</p>
    </div>
  </div>

    <div class="column column__center column__12-of-12 column__7-of-12--medium info--block--content">
    <section class="step">
      <header class="step--header">
        <h3>1.1 | UX Research</h3>
      </header>
          <p>The research phase follows the same process as the earlier phase but we now have more information to work with since we can analysis the new site.</p>
          <h4>What we used</h4>
          <ul>
            <li><b>Competitor research</b> confused.com, gocompare.com etc </li>
            <li><b>Analytics research</b> ...</li>
            <li><b>Surveys and questionnaires</b> ...</li>
            <li><b>User stories</b> ...</li>
            <li><b>User personas</b> we had some real personas now to work with</li>
            </ul>
      </section>

      <section class="step">
        <header class="step--header">
          <h3>1.2 | UX analysis</h3>
        </header>
              <p>We analysed the data and using a User story map and affinity diagrams we started to build up a nice understanding of what we would like to include.</p>
              <img src="/imgs/analysis.jpg" title="">
              <h4>Findings</h4>
              <ul>
                <li><b>Car finance</b> we would call it car finance and it would be it's on dedicated section.</li>
                <li><b>Comparison table</b> unique comparison table that can filter by car registration plates.</li>
                <li><b>Quick quote</b>, <b>Vehicle valuation</b>, <b>Dedicated wisdom content</b>, <b>Car finance calculator</b>, <b>Benefits section</b>, <b>Email / Save results</b>, <b>Car cost estimator</b>, <b>Garage and car search</b></li>
              </ul>
              <img src="/imgs/user-story-map.png" title="">
              <h4>User story map</h4>
              <p>This gave us the full picture of the feature. We had one backbone of the big activity, the one under are the steps for each activity to be completed and then under are the details in each step.</p>
              <p>We could then prioritise features into releases</p>
              <ul>
                <li><b>Must have</b> Quick quote, Dedicated wisdom content, Benefits section, Comparison table</li>
                <li><b>Should have</b> Vehicle valuation, Car finance calculator, Email / Save results</li>
                <li><b>Could have</b> Garage and car search, Car cost estimator</li>
              </ul>
              <!--
              <h4>Workshop</h4>
              <p>Workshop with clients and product owner to refine requirements.</p>
              <ul>
                <li><b>Must have</b> ...</li>
                <li><b>Should have</b> ...</li>
                <li><b>Could have</b> ...</li>
              </ul> -->
        </section>

        <section class="step">
          <header class="step--header">
            <h3>1.3 | UX design</h3>
          </header>
                <p>Not we had the "must have's" it's time to revisit the personas and create user flows to plan out every point of contact.</p>
                <img src="/imgs/user-flow.png" title="">
                <h4>User flows</h4>
                <p>This user flows is based on the first persona Phil, it shows his full process of touch points, from when he fills in a quick form on the home page to when he hits reply and fills in a modal. When outlining the flow it's important to include make it as simple and intuitive as possible, including notifications and call to actions to help the flow.</p>
                <img src="/imgs/interaction-flow.png" title="">
                <h4>Interaction design | Comparison table</h4>
                <p>This detailed interaction design shows the process of pressing apply on a comparison result and then having to fill in a modal with selections</p>
                <img src="/imgs/user-flow-car-value.png" title="">
                <h4>Interaction design | Car valuation</h4>
                <p>This shows part of the Car valuation interaction, how the user inputs his details and how we can gather data and get him to his gaol as quickly as possible.</p>
          </section>

        <a class="back" href="/" title="back">Back</a>
      </div>
</main>



{% include footer.html %}
