---
layout: base
title: Will forsyth
class: home
---
{% assign posts = site.posts | sort: 'group' %}

<header class="hdr home">
  <div id="particles"></div>
  <div class="column column__center column__12-of-12 column__8-of-12--small column__9-of-12--medium hdr--cont">
    {% include nav.html %}
      <h1>UI / UX developer &amp; Designer</h1>
      <p class="column column__center column__12-of-12 column__6-of-12--large">Welcome to my small space on the internet, you'll find a little bit about me here and some blog posts of things I find interesting. I currently head up the UI and UX design and development output for <a href="http://drummondcentral.co.uk" title="Drummond central">Drummond central.</a></p>
  </div>
</header>

<main class="column column__center column__12-of-12 column__8-of-12--medium column__9-of-12--medium posts__main" id="content">
  <h2>Stuff about me</h2>
  <div class="info--boxes">
    <div class="column column__12-of-12 column__6-of-12--medium column__4-of-12--large info--block">
      <header class="info--block--first" >
        <svg viewBox="0 0 100 100" class="icon--large icon--inline icon--center icon__html">
            <use xlink:href="/imgs/sprite/icon-sprite.svg#icon__html"></use>
            <span class="info--block--title" tabindex="4">UI development</span>
        </svg>
      </header>
      <div class="info--block--content">
        <blockquote>
          <ul tabindex="5">
            <li>
              <h4>HTML &amp; CSS</h4>
              <p>HTML5 and CSS3 using latest standards including W3C Web Content Accessibility guidelines, fully browser testing and ensuring final code is accessible and semantic and with the use of BEM and Modular code approach aiming to make reusable and future proof code.</p>
            </li>
            <li>
              <h4>Javascript/Jquery</h4>
              <p>Using babel I have started to use ES6.</p>
            </li>
            <li>
              <h4>Preprocessors</h4>
              <p>Grunt, webpack and babel</p>
            </li>
            <li>
              <h4>Custom Pattern libraries</h4>
              <p>I use a custom pattern library to create templates and componenets making it easy for back end developers in implement the code.</p>
            </li>
            <li><h4>Repsonsive layouts</h4></li>
          </ul>
        </blockquote>
        <blockquote>
          <ul tabindex="6">
            <li><h3>Currently experimenting with:</h3>
                <li><h4>React.js</h4></li>
                <li><h4>React-router.js</h4></li>
                <li><h4>Meteor.js</h4></li>
              </ul>
            </li>
          </ul>
        </blockquote>
        <blockquote>
          <ul tabindex="6">
            <li>
                <a href="mailto:info@willforsyth.co.uk" title="">Email me for latest links</a>
              </ul>
            </li>
          </ul>
      </blockquote>
      </div>
    </div>

    <div class="column column__12-of-12 column__6-of-12--medium column__4-of-12--large info--block">
      <header class="info--block--second">
        <svg viewBox="0 0 100 100" class="icon--large icon--inline icon--center icon__wireframe">
            <use xlink:href="/imgs/sprite/icon-sprite.svg#icon__wireframe"></use>
            <span class="info--block--title" tabindex="7">UX process</span>
        </svg>
      </header>
      <div class="info--block--content">
        <blockquote>
          <ul>
            <li>
              <ul tabindex="8">
                <li><p>Qualitative &amp; quantitative research reports utilising surveys, contextual inquiries, usability testing.</p></li>
                <li>
                  <h4>Wireframing and Prototyping</h4>
                  <p>I supply detailed and annotated wireframes showing all functionality, including notifications touch points and interactions on the product. I can develop click through prototypes to test on users if you are in early development phase.</p>
                </li>
                <li><h4>Data analysis</h4>
                  <p>Using UX software and in-depth analytics research I can gather data on where improvements need to be made. Completing a prioritisation matrix we can prioritise the improvements over a time period checking against technical feasibility, design feasibility, and impact on user.</p>
                </li>
                <li><p>Defining any problem areas and iterating</p></li>
                <li><p>Usability testing ( see a pattern? )</p></li>
              </ul>
            </li>
          </ul>
        </blockquote>
        <blockquote>
          <ul tabindex="6">
            <li>
              <a href="/ux-process.html" title="">UX process</a>
              </ul>
            </li>
          </ul>
        </blockquote>
      </div>
    </div>
    <div class="column column__12-of-12 column__6-of-12--medium column__4-of-12--large info--block">
      <header class="info--block--third">
        <svg viewBox="0 0 100 100" class="icon--large icon--inline icon--center icon__design">
            <use xlink:href="/imgs/sprite/icon-sprite.svg#icon__design"></use>
            <span class="info--block--title" tabindex="9">Ui design</span>
        </svg>
      </header>
      <div class="info--block--content">
        <blockquote>
          <ul tabindex="10">
            <li>
              <p>Using the UX research I design high fidelity layouts using sketch.</p>
              <p>Create interaction prototypes where required. <a href="/ux/2016/11/25/UX-prototype-framer.html" title="Post on interaction prototypes">Example<a/></p>
            </li>
          </ul>
        </blockquote>
        <blockquote>
          <ul tabindex="6">
            <li>
              <a href="https://www.behance.net/willf" title="behance portfolio">Bahance portfolio</a>
              </ul>
            </li>
          </ul>
        </blockquote>
      </div>
    </div>
  </div>
</main>

{% include footer.html %}
