---
layout: base
title: Will forsyth
---
{% assign posts = site.posts | sort: 'group' %}

<ul class="grid filterSection">
    {% for category in site.categories %}
        <li class="column column__12-of-12 column__4-of-12--small column__2-of-12--medium">
            <input checked="true" type="checkbox" value="{{ category | first }}"/>
            <label>{{ category | first }}</label>
        </li>
    {% endfor %}
</ul>

<main class="post__main">
    <ul class="posts grid">
        {% for post in site.posts %}
            <li class="column column__center column__12-of-12 column__12-of-12--small column__10-of-12--medium">
                <a data-type="{{ post.category }}" href="{{ post.url }}" class="posts__link">
                    <div class="posts__inner">
                          <h2 class="post--title">{{ post.title }}</h2>
                          <span class="post--cat">{{ post.category }}</span>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
    {% include footer.html %}
</main>
