---
layout: base
title: Will forsyth
class: home
---
{% assign posts = site.posts | sort: 'group' %}


<header class="hdr hdr--posts">
  <div id="particles-green"></div>
  <div class="column column__center column__12-of-12 column__8-of-12--small column__9-of-12--medium hdr--cont">
    {% include nav.html %}
    <h1 class="">UX Process</h1>
  </div>
</header>

<main class="column column__center column__12-of-12 column__8-of-12--small column__9-of-12--medium column__7-of-12--large posts__main">
  <section class="content--divide">
    <p>The process starts in one of two places but follows the same structure. If you have a product already then testing and analysis can begin on a live product or if you are in the development phase defining a prototype and and testing that will help reduce future issues. There are several ways we can do this: </p>
    <div class="grid">
      <div class="column column__12-of-12 column__12-of-12--small column__12-of-12--medium column__6-of-12--large">
        <h3>USABILITY TESTING</h3>
        <p>Live usability testing with real users. Find their goals, behaviours, pain points and mental models.</p>
        <h3>CONTEXTUAL INQUIRY</h3>
        <p>Interviews and testing in the users environments.</p>
        <h3>EYETRACKING &amp; SCREEN TRACKING</h3>
        <p>Recording users activities on your site and create reports and gain vital insights</p>
      </div>
      <div class="column column__12-of-12 column__12-of-12--small column__12-of-12--medium column__6-of-12--large">
        <h3>ANSWER QUESTIONS</h3>
        <p>Using software to ask users questions using surveys and on page questionnaires.</p>
        <h3>Competative research</h3>
        <p>Detailed research onto competitors and indirect competitors, how they have tackled similar problems, gained revenue streams and how they have gained competative advantages. </p>
        <h3>DATA ANALYSIS</h3>
        <p>Using UX software and in-depth analytics research I can gather data on where improvements need to be made.</p>
      </div>
    </div>
    <p>Using the research I can find triggers, barriers and pain points, entry points and actions such as conversion access and exit. Find your users goals and motivations. To do this the best solution I have found is to involve the full team and split out the research into several sections depending on the product. Outlining all pain points, triggers and making sure everyone is on the same page as to what the problems are.</p>
    <p>I can also use Data Analysis at this stage to further access the possible issues. Using UX software and in-depth analytics research I can gather data on where improvements need to be made.</p>
  </section>
  <section class="content--divide">
    <h3>Analysis</h3>
    <p>After we have completed the research phase its time to analyse the data to gather insights find patterns and discover solutions.</p>
    <div class="grid">
      <div class="column column__12-of-12 column__12-of-12--small column__12-of-12--medium column__6-of-12--large">
        <h3>Affinity Diagramming &amp; Card sorting</h3>
        <p>Write all observations down on post-its and group into actions, triggers, pain points and barriers. Identify patterns.</p>
        <h3>User Journey Maps</h3>
        <p>Map out the user journey experienced in the usability test.</p>
      </div>
      <div class="column column__12-of-12 column__12-of-12--small column__12-of-12--medium column__6-of-12--large">
        <h3>Prioritising Matrix</h3>
        <p>Prioritise the improvements over a time period checking against technical feasibility, design feasibility, and impact on user. </p>
        <h3>Personas</h3>
        <p>Set the context, define the users goals, behaviours and look into how detail about who the user is and how they think.</p>
      </div>
    </div>
  </section>
  <section class="content--divide">
    <h3>Design</h3>
    <p>Once I have a firm set of problems to solve the next stage is planning out user flows wireframing solutions and reworking information architecture. Once we have the solutions solved ( in our opinion ) its time to create a prototype and re test the solution with users to ensure our opinion is gratified and correct.</p>
    <div class="grid">
      <div class="column column__12-of-12 column__12-of-12--small column__12-of-12--medium column__6-of-12--large">
        <h3>Information architecture</h3>
        <p>Extensive information architecture planning and scoping of the site or app structure</p>
        <h3>Story Boarding</h3>
        <p>Story board the proposed journey for the user. If we can, test this on users at this stage.</p>
        <h3>Interaction flows</h3>
        <p>Detailing every user and interaction flow, and creating test prototypes where applicable. Outlining in diagrams or creating small prototypes</p>
      </div>
      <div class="column column__12-of-12 column__12-of-12--small column__12-of-12--medium column__6-of-12--large">
        <h3>Wireframes</h3>
        <p>Wirefame as much of the site/app as we need to create a prototype that will demostrate the user journey of as many processes as possible. Defining where content will live etc.</p>
        <h3>Prototype</h3>
        <p>Development of a prototype to test on users, either in marvel or wuth code.</p>
        <h3>User testing</h3>
        <p>This is where we ideally need to test on the users again. Completeing previous steps as required and iterating.</p>
      </div>
    </div>
  </section>
  <a class="back" href="/" title="back">Back</a>

</main>
{% include footer.html %}
