---
layout: base
title: Will forsyth
class: home
---
{% assign posts = site.posts | sort: 'group' %}


<header class="hdr hdr--posts">
  {% include nav.html %}
</header>

<main class="column column__12-of-12 column__8-of-12--small column__7-of-12--medium column__6-of-12--large posts__main">
  <section class="content--divide">
    <div class="grid">
        <h2>Research</h2>
        <p>The process starts in one of two places but follows the same structure. If you have a product already then testing and analysis can begin on a live product or if you are in the development phase defining a prototype and testing that is essential. There are several ways to do this: </p>
        <h3>Usability testing</h3>
        <p>Live usability testing with real users. Find their goals, behaviours, pain points and mental models.</p>
        <h3>Contextual enquiry</h3>
        <p>Interviews and testing in the users environments.</p>
        <h3>Eyetracking &amp; Screen Tracking</h3>
        <p>Recording users activities on your site and create reports and gain vital insights</p>
        <h3>Answer Questions</h3>
        <p>Using software to ask users questions using surveys and on page questionnaires.</p>
        <h3>Competitive research</h3>
        <p>Detailed research into competitors and indirect competitors, how they have tackled similar problems, gained revenue streams and how they have gained competitive advantages. </p>
        <h3>Data Aanalysis</h3>
        <p>Using UX software and in-depth analytics research I can gather data on where improvements need to be made.</p>
        <blockquote>
            <p>This research phase may be repeat multiple times throughout the process.</p>
        </blockquote>
    </div>
  </section>
  <section class="content--divide">
    <div class="grid">
      <h2>Analysis</h2>
      <p>Using the research I can find triggers, barriers and pain points, entry points and actions such as conversion access and exit. Find your users goals and motivations. To do this the best solution I have found is to involve the full team and split out the research into several sections depending on the product. Outlining all pain points, triggers and making sure everyone is on the same page as to what the problems are.</p>
        <h3>Affinity Diagramming &amp; Card Sorting</h3>
        <p>Write all observations down on post-its and group into actions, triggers, pain points and barriers. Identify patterns.</p>
        <h3>User Journey Maps</h3>
        <p>Map out the user journey experienced in the usability test.</p>
        <h3>Prioritising Matrix</h3>
        <p>Prioritise the improvements over a time period checking against technical feasibility, design feasibility, and impact on user.</p>
        <h3>Personas</h3>
        <p>Set the context, define the users goals, behaviours and look into how detail about who the user is and how they think.</p>
        <blockquote>
            <p>After the analysis we should know more about what we need to create to allow the user to acheive their goals on the product. Next is planning these components and journeys out.</p>
        </blockquote>
    </div>
  </section>
  <section class="content--divide">
    <div class="grid">
      <h2>Design</h2>
      <p>Once I have a firm set of problems to solve the next stage is planning out user flows, stroryboarding, wireframing solutions and reworking/creating information architecture. Once we have the solutions solved ( in our opinion ) it's time to create a prototype and re-test the solution with users to ensure our opinion is gratified and correct.</p>
        <h3>Information architecture</h3>
        <p>Extensive information architecture planning and scoping of the site or app structure</p>
        <h3>Story Boarding</h3>
        <p>Story board the proposed journey for the user. If we can, test this on users at this stage.</p>
        <h3>Interaction flows</h3>
        <p>Detailing every user and interaction flow, and creating test prototypes where applicable. Outlining in diagrams or creating small prototypes</p>
        <h3>Wireframes</h3>
        <p>Wireframe as much of the site/app as we need to create a prototype that will demonstrate the user journey of as many processes as possible. Defining where content will live etc.</p>
        <h3>Prototype</h3>
        <p>Development of a prototype to test on users, either in marvel or with code.</p>
        <h3>User testing</h3>
        <p>This is where we ideally need to test on the users again. Completing previous steps as required and iterating.</p>
        <h3>UI Design</h3>
        <p>After we have a full scoped out product with all the user needs addressed and signed of the last stage is adding the branding and styles to the layouts. I use Sketch and other programmes such as principle of the framer.js library bring the designs to life if reuqire to show state changes etc.</p>
    </div>
  </section>
  <a class="back" href="/" title="back">Back</a>

</main>
{% include footer.html %}
