---
layout: base
title: Will forsyth
class: home
---
{% assign posts = site.posts | sort: 'group' %}


<header class="hdr hdr--posts">
  <div id="particles-green"></div>
  <div class="column column__center column__12-of-12 column__8-of-12--small column__9-of-12--medium hdr--cont">
    {% include nav.html %}
    <h1 class="">UX Process</h1>
  </div>
</header>

<main class="column column__center column__12-of-12 column__8-of-12--small column__9-of-12--medium column__7-of-12--large posts__main">
  <section class="content--divide">
    <p>The process starts in one of two places but follows the same structure. If you have a product already then testing and analysis can begin on a live product or if you are in the development phase defining a prototype and and testing that will help reduce future issues. There are several ways we can do this: </p>
    <div class="grid">
      <div class="column column__12-of-12 column__12-of-12--small column__12-of-12--medium column__6-of-12--large">
        <h3>USABILITY TESTING</h3>
        <p>Live usability testing with real users. Find their goals, behaviours, pain points and mental models.</p>
        <h3>CONTEXTUAL INQUIRY</h3>
        <p>Interviews and testing in the users environments.</p>
        <h3>EYETRACKING &amp; SCREEN TRACKING</h3>
        <p>Recording users activities on your site and crete reports and gain vital insights</p>
      </div>
      <div class="column column__12-of-12 column__12-of-12--small column__12-of-12--medium column__6-of-12--large">
        <h3>ANSWER QUESTIONS</h3>
        <p>Using software to ask users questions using surveys and on page questionnaires.</p>
        <h3>A/B TESTING</h3>
        <p>Testing against two solutions to find the highest user engagement</p>
        <h3>DATA ANALYSIS</h3>
        <p>Using UX software and in-depth analytics research I can gather data on where improvements need to be made.</p>
      </div>
    </div>
    <p>Using the research I can find triggers, barriers and pain points, entry points and actions such as conversion access and exit. Find your users goals and motivations. To do this the best solution I have found is to involve the full team and split out the research into several sections depending on the product. Outlining all pain points, triggers and making sure everyone is on the same page as to what the problems are.</p>
    <p>I can also use Data Analysis at this stage to further access the possible issues. Using UX software and in-depth analytics research I can gather data on where improvements need to be made.</p>
  </section>
  <section class="content--divide">
    <h3>WIREFRAMING, IA &amp; PROTOTYPING</h3>
    <p>Once I have a firm set of problems to solve the next stage is planning out user flows wireframing solutions and reworking information architecture. Once we have the solutions solved ( in our opinion ) its time to create a prototype and re test the solution with users to ensure our opinion is gratified and correct.</p>
    <div class="grid">
      <div class="column column__12-of-12 column__12-of-12--small column__12-of-12--medium column__6-of-12--large">
        <h3>Wireframes</h3>
        <p>Detailed and annotated wireframes showing all functionlity</p>
        <img src="/imgs/static1.squarespace.png" title="">
        <h3>Interaction flows</h3>
        <p>Detailing every user and interaction flow</p>
        <img src="/imgs/static1.squarespace.png" title="">
      </div>
      <div class="column column__12-of-12 column__12-of-12--small column__12-of-12--medium column__6-of-12--large">
        <h3>Information architecture</h3>
        <p>Extensive information architecture planning and scoping</p>
        <img src="/imgs/user-flow.png" title="">
        <h3>Prototype</h3>
        <p>Development of a prototype to test on users</p>
        <img src="/imgs/prototype.png" title="">
      </div>
    </div>
  </section>
  <section class="content--divide">
    <h3>Prioritising Matrix</h3>
    <p>After I have completed extensive user testing I can prioritise the improvements over a time period checking against technical feasibility, design feasibility, and impact on user. We may have small fix, such as a button position or colour that will be a small change and easy to role out quickly that will have a large impact on the user, over a full redesign of a dashboard, that will take a longer time to design and build.</p>
    <h4>TECHNICAL FEASIBILITY</h4>
    <p>Plot the technical feasibility out of 10</p>
    <h4>DESIGN FEASIBILITY</h4>
    <p>Plot the design feasibility out of 10</p>
    <h4>IMPACT ON USER</h4>
    <p>Plot the impact on user</p>
  </section>
  <section class="content--divide">
    <h3>Agile UX</h3>
    <p>With larger projects the agile development process is often implemented and an agile UX approach is the best process. It involves planning and testing features as they are developed working with the developers and designers in two week blocks to hit features quickly, and keeps the process smooth.</p>
    <h4>WORKING WITH YOUR TEAM</h4>
    <p>I can work along with agile teams to plan out new features as they are designed and built.</p>
  </section>
  <a class="back" href="/" title="back">Back</a>

</main>
{% include footer.html %}
