blockquote {
  border-left: 5px solid $color__gray--light;
  padding-left: 30px;
  margin: 3.6em 0;
  display: block;
  p {
      font-size: 1 + $ratio--inv#{em};
  }

}

.grey--bk blockquote {
  border-left: 5px solid $color__blue;
  padding-left: 30px;
  margin: 3.6em 0;
  display: block;
}
