<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1">
    <meta name="keywords" content="">

    <title>Example Template</title>

    <link rel="stylesheet" media="all" href="/css/screen.css">
    <link rel="stylesheet" media="all" href="/css/patterns.css">
    <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,600,700,400italic,600italic,700italic' rel='stylesheet' type='text/css'>

    <script src="/assets/scripts/vendor/modernizr.js"></script>
</head>
<body>
    <div class="toolbar">
	<div class="toolbar__inner">
		<a class="toolbar__home" href="/" title="">
			<svg viewBox="0 0 100 100" class="icon icon__home">
			    <use xlink:href="/imgs/sprite/icon-sprite.svg#icon__home"></use>
			</svg>
		</a>
		<ul>
		    <li data-width="20em">small</li>
		    <li data-width="32em">medium</li>
		    <li data-width="48em">large</li>
		    <li data-width="100%">100%</li>
		</ul>
	</div>
	<a class="toolbar__show" href="" title="">
		toolbar
	</a>
</div>

    <div class="pattern__wrapper">
        <main class="grid" role="main">
	<section class="column column__6-of-12--large column__4-of-6--medium column__4-of-4">
		<h1>Template Example</h1>
		<p>This is an example template.</p>
	</section>
	<aside class="column column__6-of-12--large column__2-of-6--medium column__4-of-4">
		<h2>Sidebar</h2>
	</aside>
</main>

<footer role="contentinfo">
    <footer role="contentinfo">
	<div class="column column__center column__12-of-12 column__8-of-12--medium column__9-of-12--medium">
		<h3 class="white">Get in contact</h3>
		<ul>
			<li>
				<a href="https://github.com/willforsyth" title="Git hub" tabindex="11">
					<svg viewBox="0 0 100 100" class="icon icon--inline icon__github">
					    <use xlink:href="/imgs/sprite/icon-sprite.svg#icon__github"></use>
					</svg>
					<span>github</span>
				</a>
			</li>
			<li>
				<a href="https://twitter.com/willforsyth" title="follow me" tabindex="12">
					<svg viewBox="0 0 100 100" class="icon icon--inline icon__twitter">
							<use xlink:href="/imgs/sprite/icon-sprite.svg#icon__twitter"></use>
					</svg>
					<span>twitter</span>
				</a>
			</li>
			<li>
				<a href="mailto:info@willforsyth.co.uk" title="email me" tabindex="13">
					<svg viewBox="0 0 100 100" class="icon icon--inline icon__mail">
							<use xlink:href="/imgs/sprite/icon-sprite.svg#icon__mail"></use>
					</svg>
					<span>info@willforsyth.co.uk</span>
				</a>
			</li>
		</ul>
	</div>

</footer>
<small>&copy; willforsyth | 	<a href="/pattern.html" title="we have patterns">Pattern Library</a>
</small>

</footer>
    </div>
    <script src="/scripts/common.js"></script>
    <script src="/scripts/pattern.js"></script>
    <script src="/assets/scripts/vendor/svg4everybody.js"></script>
</body>
</html>
