*{
    box-sizing: border-box;
}

html{
    color: $color__blue;
    height: 100%;
    background: $color__gray--light;
}

html,
body{
    margin: auto;
    height: 100%;
    min-height: 1100px;
    max-width: 80em;
    position: relative;
}
body {
  background: #ffffff;
  @extend .clearfix;
  height: 100%;
}

%wrapper{
    max-width: map-get($breakpoints, medium);
    width: 100%;
    margin: auto;
    padding: 0 $ratio#{em};
    background: #ffffff;
    @extend .clearfix;
}

.wrapper{
    @extend %wrapper;
}

.hide{
    display: none;
}

ol {
  li {
    list-style-position: inside;
    margin: 1em 0;
  }
}

.main-home {
  @extend .clearfix;
  background: url(../imgs/backgrounds/divider-01.svg) top no-repeat;
  padding-top: 0em;
  @include breakpoint(small){
    padding-top: 10em;
    
  }
}
