%hn{
   font-family: $heading-font;
   font-weight: 400;
   line-height: 1.3em;
   margin: $ratio--inv#{em} 0 $ratio--inv#{em};
   -webkit-font-smoothing: antialiased;
   letter-spacing: 0.12em;
}
h1{
    @extend %hn;
    font-size: 2.5em;
    margin-top: 0;
    color: $color__blue;
}
.posts__main h2 {
  @extend %hn;
  font-size: 2.1em;
  border-bottom: none;
  margin-bottom: 0em;
}
h2{
    @extend %hn;
    font-size: $ratio#{em};
}

h3 {
  @extend %hn;
  margin-bottom: 0em;
  margin-top: 2em;
  font-size: 1 + ($ratio--inv / 2)#{em};
}
h4, h5{
    @extend %hn;
    font-family: $body-font;
    // margin-top: 1 + $ratio#{em};
    font-size: 1em;
}

.post--title {
  margin: 0;
}
