#particles, #particles-green {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

// #intro {
//   position: absolute;
//   left: 0;
//   top: 50%;
//   padding: 0 20px;
//   width: 100%;
//   text-align: center;
// }

.hdr {
  @extend .clearfix;
  position: relative;
  color: $color__white;
  padding-bottom: 3em;
  overflow: hidden;
  h1 {
    margin-top: 1em;
    margin-bottom: 0;
    @include breakpoint(small){
      margin-top: 2em;
    }
    text-align: center;
    animation: slideUpfade 0.25s normal ease-in-out;
  }
  a {
    color: $color__blue;
    font-weight: 300;
  }
  p {
    text-align: center;
    animation: slideUpfade 0.7s normal ease-in-out;
  }
  // @include breakpoint(small){
  //     height: 30%;
  // }
}

.hdr--posts {
  color: $color__blue;
  max-height: 700px;
}

.home {
  height: auto;
  @include breakpoint(small){
    height: 65%;
  }
    h1 {
      margin-top: 2em;
      background: $color__white;
      color: $color__blue;
      max-width: 500px;
      text-align: left;
      float: right;
      @include breakpoint(small){
        margin-top: 4em;
      }
    }
    .hdr--cont {
      background: none;
      background-size: contain;
      @include breakpoint(small){
        background: url("../imgs/backgrounds/bulb.svg") center center no-repeat;
      }
    }
}


.hdr--cont {
  position: relative;
  height: auto;
  margin-top: 0;
  @include breakpoint(small){
    margin-top: 7em;
    height: 700px;
  }
}

  #content {
    h2 {
      text-align: center;
      margin-top: 3em;
    }
  }

.fourofour .hdr--title {
  margin-top: 5em;
  .icon--center {
    width: 3em;
  }
  @include breakpoint(small){
      .icon--center {
        width: 7em;
      }
  }
}

.hdr--title {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  .icon--center {
    width: 3em;
  }
  h1 {
    font-size: 0.8em;
  }
  @include breakpoint(small){
      top: 50%;
      left: 50%;
      .icon--center {
        width: 14em;
      }
      h1 {
        font-size: 1.6em;
      }
  }
}

.hdr--nav {
  position: absolute;
  top: 1em;
  right: 1em;
}

.hdr-scroll {
  color: $color__white;
  width: 5em;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: none;
  @include breakpoint(small){
      display: block;
  }
}
