.hdr {
  background: $color__red;
  height: 12%;
  position: relative;
  color: $color__white;
  a {
    color: $color__white;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 300;
  }
  @include breakpoint(small){
      height: 40%;
  }
}

.hdr--posts {
  background: $gradient;
  max-height: 700px;
  .hdr--title {
      top: 61%;
  }
}

.hdr--post {
  background: $color__green;
  max-height: 300px;
  .hdr--title {
      top: 61%;
  }
}

.hdr--cont {
  position: relative;
  height: 100%;
}

.home {
  .hdr--title {
    left: 30%;
    @include breakpoint(small){
      left: 50%;
    }
  }
}

.fourofour .hdr--title {
  .icon--center {
    width: 3em;
  }
  @include breakpoint(small){
      .icon--center {
        width: 7em;
      }
  }
}

.hdr--title {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  .icon--center {
    width: 3em;
  }
  h1 {
    font-size: 0.8em;
  }
  @include breakpoint(small){
      top: 50%;
      left: 50%;
      .icon--center {
        width: 14em;
      }
      h1 {
        font-size: 1.6em;
      }
  }
}

.hdr--nav {
  position: absolute;
  top: 1em;
  right: 1em;
}

.hdr-scroll {
  color: $color__white;
  width: 5em;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: none;
  @include breakpoint(small){
      display: block;
  }
}
