.icon{
    display: inline-block;
    width: $ratio#{em};
    height: $ratio#{em};
}

.icon__logo {
  width: 7em;
  animation: bounceIn 0.3s normal ease-in-out;
}

.icon--large {
  display: inline-block;
  width: 3 + $ratio#{em};
  height: 3 + $ratio#{em};
  fill: $color__black;
}

.icon__facebook{
	fill: $color__facebook;
}

.icon__twitter{
	fill: $color__twitter;
}

.icon--center {
  margin: auto;
}

.icon--inline {
  margin-right: 0.61803em;
  vertical-align: middle;
  + span {
    vertical-align: middle;
  }
}

footer .icon {
  fill: $color__white;
}
