.icon{
    display: inline-block;
    width: 1em;
    height: 1em;
}

.icon__logo {
  width: 7em;
  animation: bounceIn 0.3s normal ease-in-out;
}

.icon--large {
  display: inline-block;
  width: 3 + $ratio#{em};
  height: 3 + $ratio#{em};
  fill: $color__black;
}

.icon__facebook{
	fill: $color__facebook;
}

.icon__twitter{
	fill: $color__twitter;
}

.icon--center {
  margin: auto;
}

.icon--inline {
  vertical-align: middle;
  + span {
    vertical-align: middle;
  }
}

footer .icon {
  fill: $color__white;
}

.logo {
  // background: url(../imgs/svg/sprite-logo.svg);
  width: 150px;
  display: block;
  animation: splashit 10s steps(11) infinite;
  margin-top: 1em;
}

/* sprite needs to be fixed */

@keyframes splashit {
	0%{
		background-position: 0 0;
	}
	29%{
		background-position: 0 0;
	}
 30%, 100% {
    background-position: 0 -1100px;
  }
}
