a{
    color: $color__orange;
    fill: $color__orange;
    cursor: pointer;
    text-decoration: underline;

    &:hover,
    &:focus{
        outline: none;
        text-decoration: none;
    }

    &:visited{
        text-decoration: line-through;
    }

    &:disabled,
    &[disabled],
    &.disabled{
        color: $color__gray;
        fill: $color__gray;
        opacity: $ratio--inv;
        cursor: not-allowed;
    }
}
