.main__nav {
  margin-left: -3px;
  color: $color__blue;
}

nav li{
  display: inline-block;
  margin-left: 0.5em;
  text-align: center;
  @include breakpoint(small){
      margin-left: 1em;
  }
}

.active {
   text-decoration: line-through;
}

.logo{
    float: none;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint(small){
        float: left;
        margin-left: 2em;
    }
    a{
      display: block;
      height: 100%;
    }
}
