@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animated-slow {
    -webkit-animation-delay: 3s; /* Chrome, Safari, Opera */
            animation-delay: 3s;
}

.animated-vSlow {
    -webkit-animation-delay: 5s; /* Chrome, Safari, Opera */
            animation-delay: 5s;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.bounceInUp {
  -webkit-animation-name: bounceInUp;
          animation-name: bounceInUp;
}

@keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes blinking{
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}


.animate-in {
    @extend .animated;
    @extend .animated-vSlow;
  -webkit-animation-name: bounceInUp;
          animation-name: bounceInUp;
}

.grow-In{
    @extend .animated;
    @extend .animated-slow;
    -webkit-animation-name: growIn; 
    animation-name: growIn; 
}