// Main Colors
// --------------------------------------------------
$color__black: #313131;
$color__gray: #505050;
$color__gray--light: #e2e2e2;
$color__white: #fff;

.white {
  color: $color__white;
}

//example of colors and there usage
$color__blue: #00ab90;
$color__blue--light: lighten($color__blue, 20%);
$color__blue--dark: darken($color__blue, 20%);

$color__red: #f06a6b;
$color__red--light: lighten($color__red, 20%);
$color__red--dark: darken($color__red, 20%);

$color__green: #5dc2a7;
$color__green--light: lighten($color__green, 20%);
$color__green--dark: darken($color__green, 20%);

$color__purple: #8e44ad;
$color__purple--light: lighten($color__purple, 20%);
$color__purple--dark: darken($color__purple, 20%);

$color__orange: #ffffff;
$color__orange--light: lighten($color__orange, 20%);
$color__orange--dark: darken($color__orange, 20%);


// Brand Colors
// --------------------------------------------------
$color__twitter : #00acee;
$color__facebook : #3b5998;


// Scheme
// --------------------------------------------------
$color__positive : $color__green;
$color__negative : $color__red;

$color__primary : $color__gray;

$gradient: linear-gradient(to left, $color__blue , $color__green);
