.welcome--note {
	text-align: center;
	margin: 1 + $ratio#{em} auto 0;
	@include breakpoint(small){
			margin: 5 + $ratio#{em} auto 5 + $ratio#{em};
	}
}

#disqus_thread {
	margin-top: 3 + $ratio#{em}
}

.offscreen {
	visibility: hidden;
	display: none;
}

.center {
		text-align: center;
		margin-bottom: 1.6em;
}

.sidebar {
	padding: 2em;
}

.code--snippet {
	margin: $ratio#{em} 0;
}

.hideItem {
    display: none;
}

.cmn-toggle-yes-no + label {
  padding: 5px 30px 30px 30px;
  width: 120px;
  height: 60px;
}

.cmn-toggle-yes-no + label:before, input.cmn-toggle-yes-no + label:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
	background-color: $color__gray--light;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
	font-family: $body-font;
}
.cmn-toggle-yes-no + label:before {
  background-color: $color__blue;
	color: #fff;
  content: attr(data-off);
  transition: transform 0.5s;
  backface-visibility: hidden;
}
.cmn-toggle-yes-no + label:after {
  background-color: $color__blue;
  content: attr(data-on);
  transition: transform 0.5s;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.cmn-toggle-yes-no:checked + label:before {
  transform: rotateY(180deg);
}
.cmn-toggle-yes-no:checked + label:after {
  transform: rotateY(0);
}


/// map stuff please move

#map {
  margin: 0px;
  width: 100%;
  height: 800px;
  padding: 0px;
  float: left;
}

.controls {
  float: right;
	width: 100%;
	a {
		background: $color__gray--light;
		padding: 0.2em 1em 1em;
	}
}

.leaflet-fusesearch-control {
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    background: #fff;
    border-radius: 5px;
}

.leaflet-fusesearch-control .button {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    width: 36px;
    height: 36px;
}
.leaflet-touch .leaflet-fusesearch-control .button {
    width: 44px;
    height: 44px;
}

.leaflet-fusesearch-panel {
    position: absolute;
    height: 100%;
    width: 350px;
    z-index: -1;
    opacity: 0;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
}

.leaflet-fusesearch-panel .content {
    height: 100%;
    width: 100%;

    overflow: auto;
    -webkit-overflow-scrolling: touch;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 20px;

    background: white;
    box-shadow: 0 1px 7px rgba(0,0,0,0.65);
    -webkit-border-radius: 6px;
    border-radius: 6px;

    color: black;
    font-size: 1.1em;
}

.leaflet-fusesearch-panel.left {
    left: 0;
}

.leaflet-fusesearch-panel.right {
    right: 0;
}

.leaflet-fusesearch-panel.visible {
    opacity: 1;
    z-index: 2000;
}


.leaflet-fusesearch-panel .close {
    position: absolute;
    right: 25px;
    top: 15px;
    width: 30px;
    height: 30px;
    color: #333;
    font-size: 25pt;
    line-height: 1em;
    text-align: center;
    background: white;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    cursor: pointer;
    z-index: 8;
}

.leaflet-fusesearch-panel .search-image {
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 1px 1px;
    display: inline-block;
    position: relative;
    top: 4px;
    width: 22px;
    height: 22px;
}

.leaflet-fusesearch-panel .search-input {
    position: relative;
    top: 6px;
    left: 3px;
}

.leaflet-fusesearch-panel .result-item {
    color : black;
}

.leaflet-fusesearch-panel .result-item.clickable {
    cursor: pointer;
}

@media (max-width:320px) {
    .leaflet-fusesearch-panel {
        width: 100%;
        padding: 0;
    }
    .leaflet-fusesearch-panel .content {
        box-shadow: none;
        -webkit-border-radius: 0;
        border-radius: 0;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
    .leaflet-fusesearch-panel {
        width: 250px;
        padding: 0;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .leaflet-fusesearch-panel {
        width: 300px;
    }
}

@media (min-width: 769px) {
    .leaflet-fusesearch-panel {
        width: 350px;
    }
}

.content--divide {
	padding-bottom: 3em;
	border-bottom: 1px solid;
	@extend .clearfix;

	img {
		width: 100%;
	}
}

.grid {
	margin-left: -1em;
}

.nav {
	padding-top: 2em;
	clear: both;
  margin: auto;
	text-align: center;
	@include breakpoint(small){
			float: right;
			margin-right: 2em;
			clear: none;
	}
}

.content--divide {
	    perspective: 1000px;
			.content--divide__img {
				transform: rotateX(13deg);
				box-shadow: rgb(219, 219, 219) 22px 13px 43px -8px;
			}
}


#main-content {
  position: relative;
}
 @keyframes pulse {
   0% {
     height: 100vh;
   }
   50% {
     height: 0vh;
   }
   100% {
     height: 100vh;
   }
 }

 @keyframes pulseBack {
   0% {
     height: 0vh;
   }
   100% {
     height: 180vh;
   }
 }

 @keyframes opacity {
   0% {
     opacity: 0;
   }
   50% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
 }

[data-type=page-transition] {
  z-index: 100
}

/*.fullPageTwo {
  height: 0;
  width: 100vw;
  position: absolute;
  z-index: 0;
  bottom:0;
  background-color: springGreen;
  /*animation: pulseBack 0.75s normal forwards ease-in-out;*/
/*}*/


.fullPage {
  height: 0;
  width: 100vw;
  position: fixed;
  z-index: 0;
	bottom: 0;
	display: none;
	background-color: none;
	transition: all 0.4s;
	svg {
		fill: #ffffff;
	}
}

.page-is-changing .fullPage{
	display: block;
  animation: pulseBack 0.4s normal ease-in-out;
	background-color: #ffffff;
  height: 180vh;
  width: 120vw;
}

.home__icons {
	text-align:center;
	li {
		display: inline-block;
		margin-right:10px;
	}
}

.intro {
	p {
		margin-top: 7em;
		padding-left: 0;
		@include breakpoint(small){
				padding-left: 5em;
		}
		max-width: 780px;
	}
}

.intro-second {
	h2 {
		margin-top: 3em;
		padding-left: 0;
		@include breakpoint(small){
				padding-left: 3.05em;
		}
	}
	p {
		padding-left: 0;
		@include breakpoint(small){
				padding-left: 5em;
		}
		max-width: 780px;
	}
}

hr {
	display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $color__gray--light;
  margin: 2em 0;
  padding: 0;
}

.case-study-background{
	background: url(../imgs/screen-shot.png) top center no-repeat;
	background-size: cover;
	height: 15em;
	width: 100%;
}

.case-study--first {
	background: url(../imgs/research.png) top center;
}

.case-study--second {
	background: url(../imgs/research.png) top center;
}

.case-study--third {
	background: url(../imgs/wireframes-new.png) top center;
}

.case-study--forth {
	background: url(../imgs/prototype2.gif) top center;
}

.case-study--fifth {
	background: url(../imgs/page-designs.png) top center;
}

.case-study--six {
	background: url(../imgs/user-testing.png) top center;
}


.case-study--seventh {
	background: url(../imgs/user-testing.png) top center;
}

.content--divide-flex{
	display: flex;
}

.case-study--text {
	background: $color__gray--light;
	padding: 3em;
}

.step {
	position: relative;
	margin-top: 5em;
	h3 {
	 margin-bottom: 0.5em;
	}
}

.step--header {
	// position: absolute;
	// width: 90%;
	// background: white;
	// top: -1em;
  // right: 0;
  // left: 0;
	// margin-left: auto;
  // margin-right: auto;
	li{
		list-style-type:none;
		display: inline-block;
		color: #c1c1c1;
	}
	li:before{
		content:'\00b7';
		font-size:200px;
		line-height:24px;
		vertical-align:middle;
	}
}


.active--blue {
	color: #fdcd82;
}

.grey--bk {
	background: #f0f0f0;
	color: #2c4870;
}
.active--green {
	color: #246d5e;
}

.active--green-bk {
	background-color: #246d5e;
	color: #fff;
}
