$heading-font: 'Lato', sans-serif;
$body-font: 'Lato', sans-serif;


$line-height: 1.8em;
$font-weight: 300;
$base-font-size: 16;


html{
    font-family: $body-font;
    line-height: $line-height;
    font-size: $base-font-size#{px};
    font-weight: $font-weight;
    direction: ltr;
    display: block;
    unicode-bidi: embed;
    -webkit-locale: en-UK;
}

body{
    @include breakpoint(small){
        font-size: 16 / $base-font-size#{em};
        line-height: $line-height;
    }
    @include breakpoint(medium){
        font-size: 20 / $base-font-size#{em};
        line-height: $line-height;
    }
    @include breakpoint(large){
        font-size: 24 / $base-font-size#{em};
        line-height: $line-height;
    }
}
