<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1">
    <meta name="keywords" content="">

    <title>Example Template</title>

    <link rel="stylesheet" media="all" href="/css/screen.css">
    <link rel="stylesheet" media="all" href="/css/patterns.css">
    <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,600,700,400italic,600italic,700italic' rel='stylesheet' type='text/css'>

    <script src="/assets/scripts/vendor/modernizr.js"></script>
</head>
<body>
    <div class="toolbar">
	<div class="toolbar__inner">
		<a class="toolbar__home" href="/" title="">
			<svg viewBox="0 0 100 100" class="icon icon__home">
			    <use xlink:href="/imgs/sprite/icon-sprite.svg#icon__home"></use>
			</svg>
		</a>
		<ul>
		    <li data-width="20em">small</li>
		    <li data-width="32em">medium</li>
		    <li data-width="48em">large</li>
		    <li data-width="100%">100%</li>
		</ul>
	</div>
	<a class="toolbar__show" href="" title="">
		toolbar
	</a>
</div>

    <div class="pattern__wrapper">
        <main class="grid" role="main">
	<section class="column column__6-of-12--large column__4-of-6--medium column__4-of-4">
		<h1>Template Example</h1>
		<p>This is an example template.</p>
	</section>
	<aside class="column column__6-of-12--large column__2-of-6--medium column__4-of-4">
		<h2>Sidebar</h2>
	</aside>
</main>

<footer role="contentinfo">
    <footer role="contentinfo">
	<div class="column__center column column__12-of-12 column__10-of-12--medium">
		<div class="column column__12-of-12 column__6-of-12--medium clearfix">
			<h3 class="white">Get in touch</h3>
			<ul>
				<li>
					<a href="https://github.com/willforsyth" title="Git hub" tabindex="11">
						<svg viewBox="0 0 100 100" class="icon icon--inline icon__github">
						    <use xlink:href="/imgs/sprite/icon-sprite.svg#icon__github"></use>
						</svg>
						<span>github</span>
					</a>
				</li>
				<li>
					<a href="https://instagram.com/planet_centered_design" title="Git hub" tabindex="11">
						<svg viewBox="0 0 100 100" class="icon icon--inline icon__instragram">
						    <use xlink:href="/imgs/sprite/icon-sprite.svg#icon__instragram"></use>
						</svg>
						<span>Instagram</span>
					</a>
				</li>
				<li>
					<a href="https://dribbble.com/willforsyth" title="Git hub" tabindex="11">
						<svg viewBox="0 0 100 100" class="icon icon--inline icon__dribbble">
								<use xlink:href="/imgs/sprite/icon-sprite.svg#icon__dribbble"></use>
						</svg>
						<span>Dribbble</span>
					</a>
				</li>

				<li>
					<a href="https://twitter.com/willforsyth" title="follow me" tabindex="12">
						<svg viewBox="0 0 100 100" class="icon icon--inline icon__twitter">
								<use xlink:href="/imgs/sprite/icon-sprite.svg#icon__twitter"></use>
						</svg>
						<span>twitter</span>
					</a>
				</li>
				<!-- <li>
					<a href="https://www.behance.net/willf" title="view some of my designs" tabindex="13">
						<svg viewBox="0 0 100 100" class="icon icon--inline icon__behance">
								<use xlink:href="/imgs/sprite/icon-sprite.svg#icon__behance"></use>
						</svg>
						<span>behance</span>
					</a>
				</li> -->
				<li>
					<a href="mailto:info@willforsyth.co.uk" title="email me" tabindex="13">
						<svg viewBox="0 0 100 100" class="icon icon--inline icon__mail">
								<use xlink:href="/imgs/sprite/icon-sprite.svg#icon__mail"></use>
						</svg>
						<span>info@willforsyth.co.uk</span>
					</a>
				</li>
			</ul>
		</div>
		<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
<form action="https://willforsyth.us18.list-manage.com/subscribe/post?u=c5653fedbc9e07105c92a1d9d&amp;id=c03686734b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Lets be friends</h2>
  <p>You wont hear from me often, but when you do I promise it will be epic :-)</p>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
</label>
	<input placeholder="Email Address*" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c5653fedbc9e07105c92a1d9d_c03686734b" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->

	</div>
</footer>
<small>&copy; Will Forsyth</a>
</small>

</footer>
    </div>
    <script src="/scripts/common.js"></script>
    <script src="/scripts/pattern.js"></script>
    <script src="/assets/scripts/vendor/svg4everybody.js"></script>
</body>
</html>
